/* Globalni stilovi */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
}

/* Naslovi */
#glavni-naslov {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
}

/* Paragrafi */
p:nth-of-type(1) {
    font-size: 16px;
    color: #37474F;
}

p:nth-of-type(2) {
    font-size: 18px;
    color: #546E7A;
}

p:nth-of-type(3) {
    font-size: 20px;
    color: #78909C;
}

/* Klasa za paragraf */
.highlight {
    color: #FFC107;
}

/* Lista */
ul {
    list-style-type: square; /* Promjena simbola */
    padding: 10px;
    background-color: #ECEFF1;
    border-radius: 5px;
}

ul li {
    margin: 5px 0;
    font-size: 16px;
}
